#about {
	scroll-margin-top: 5rem;
}

.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;
}

@media (max-width: 768px) {
	.cards {
		flex-direction: column;
	}
}
