.background {
	width: 65vw;
	background-image: url(src/assets/background.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35vw;
}

.welcome {
	height: 100vh;
	display: flex;
}

/* Tablet screens */
@media (max-width: 768px) {
	.welcome {
		display: block;
	}
	.background {
		height: 70vh;
		width: 100vw;
	}
	.title {
		height: 30vh;
		width: 100vw;
	}
}

/* Mobile screens */
@media (max-width: 480px) {
	welcome {
		display: block;
	}
	.background {
		height: 50vh;
		width: 100vw;
	}
	.title {
		height: 50vh;
		width: 100vw;
	}
}
