.background {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(src/assets/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
}

.dummyData {
	height: 9000px;
}
