.stepper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	gap: 0.25rem;
}

.map {
	display: flex;
	justify-content: center;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.event_container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

img {
	height: 5rem;
}
