#location {
	scroll-margin-top: 5rem;
}

.stepper {
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	cursor: default;
	gap: 1rem;
}

.map {
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}

.event_container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

button {
	cursor: pointer;
	background: none;
	border: none;
	font: inherit;
	outline: inherit;
}

img {
	height: 5rem;
}
