@font-face {
	font-family: "Handwriting";
	src: local("Handwriting"),
		url(./assets/SimpleWedding.otf) format("opentype");
}

:root {
	--background: #556342;
	--accent: #effa8a;
	--beige: #f5f5dc;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}
