:root {
	--background: #556342;
	--accent: #444f35;
	--beige: #f5f5dc;
	--hover: #333b28;
}

body {
	margin: 0px;
}

* {
	box-sizing: border-box;
	font-family: "Playfair Display", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.heading {
	font-family: "Alex Brush", cursive;
	font-weight: 400;
	font-style: normal;
}

.section {
	opacity: 0;
	filter: blur(5px);
	transform: translateY(2rem);
	transition: all 1s;
}

.section.visible {
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
}
