.leaflet-container {
	height: 50vh;
	width: 90vw;
	border: 0.25rem transparent;
	border-radius: 1rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup .leaflet-popup-tip,
.popup .leaflet-popup-content-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 13rem;
	font-size: 1rem;
	background: var(--accent);
	color: var(--beige);
}
